{% extends "base.html" %}
{% load static %}

{% block title %}
首页
{% endblock title %}

{% block content %}
<div class="container mt-2">

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 mb-4" >
                <div class="form-group">
                    <div class="py-4 text-center align-self-center" style="font-size: 20px;">
                        <strong>主页面</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock content %}